---
import { Image } from "astro:assets";
import DetailPostLayout from "../../layouts/DetailPostLayout.astro";
import PostHeader from "../../components/PostHeader.astro";
// 导入 Image 组件和图像
const images = await Astro.glob('../../assets/projects/cgbank2020/*.{jpg,png,webp}');
---
<DetailPostLayout
	title="中银保险年度报告手册"
	description = '中银保险集团有限公司2020年度报告手册。',
	keywords = '画册设计,排版设计，板式设计,中银保险,年度报告',
>
	<div class="post">
		<main class="post-wrapper">
				<PostHeader
					tag="Project"
					description="">
						<h1 class="font-type">
							中银保险集团有限公司2020年度报告手册
						</h1>
				</PostHeader>
				<div class="content">
					<div class="row desc">
						<div class="col-1a">
		
							<p class="post-desc">
								项目背景：中银保险集团有限公司2020年度报告手册
								<br />项目内容：中银每年都会将上一年的工作进行汇报，并做一本中英文的年度报告手册
								<br />版权归委托方所有©中银保险集团有限公司
							</p>
						</div>
					</div>
				</div>
			</section>
			<section class="preview">
				{images.map((img, index) => (
					<picture class="picture">
					  <Image src={img.default} alt={`Image ${index + 1}`}   loading="lazy" decoding="async" />
					</picture>
				  ))}
			</section>
		</main>
	</div>
</DetailPostLayout>

<style>
.icon{
	color:var(--color-900);
}
</style>

<script>
	var images = document.getElementsByTagName('img');
 	for (var i = 0; i < images.length; i++) {
	// 为每个 img 标签添加 draggable="false" 属性
	images[i].setAttribute('draggable', 'false');
	images[i].setAttribute('ref', 'nofollow');
  }
</script>
