---
import { Image } from "astro:assets";
import DetailPostLayout from "../../layouts/DetailPostLayout.astro";
import PostHeader from "../../components/PostHeader.astro";
// 导入 Image 组件和图像
const images = await Astro.glob('../../assets/projects/hkex/*.{jpg,png,webp}');
---
<DetailPostLayout
	title="港交所2020生物科技峰会"
	description = '港交所2020生物科技峰会。',
	keywords = '香港交易所直播，活动设计，活动策划，线上活动，线上直播',
>
	<div class="post">
		<main class="post-wrapper">
				<PostHeader
					tag="Project"
					description="">
						<h1 class="font-type">
							港交所2020生物科技峰会
						</h1>
				</PostHeader>
				<div class="content">
					<div class="row desc">
						<div class="col-1a">
		
							<p class="post-desc">
								港交所2020生物科技峰会
								<br />项目背景：2020年9月1日,香港交易所线上召开2020生物科技峰会。
                                <br />项目内容：线上直播各类所需页面设计延展等;包括活动海报、直播页面、邀请函、活动PPT、热场banner等。
								<br />版权归委托方所有@香港交易所
							</p>
						</div>
					</div>
				</div>
			</section>
			<section class="preview">
				{images.map((img, index) => (
					<picture class="picture">
					  <Image src={img.default} alt={`Image ${index + 1}`}   loading="lazy" decoding="async" />
					</picture>
				  ))}
			</section>
		</main>
	</div>
</DetailPostLayout>

<style>
.icon{
	color:var(--color-900);
}
</style>

<script>
	var images = document.getElementsByTagName('img');
 	for (var i = 0; i < images.length; i++) {
	// 为每个 img 标签添加 draggable="false" 属性
	images[i].setAttribute('draggable', 'false');
	images[i].setAttribute('ref', 'nofollow');
  }
</script>
