---
import { Image } from "astro:assets";
import DetailPostLayout from "../../layouts/DetailPostLayout.astro";
import PostHeader from "../../components/PostHeader.astro";
// 导入 Image 组件和图像
const images = await Astro.glob('../../assets/projects/hkyc/*.{jpg,png,webp}');
---
<DetailPostLayout
	title="香港国际人才高峰论坛"
	description = '香港优才及专才协会第三届理监事就职典礼暨首届香港国际人才高峰论坛。',
	keywords = '香港国际人才高峰论坛,活动设计，活动策划，线下活动',
>
	<div class="post">
		<main class="post-wrapper">
				<PostHeader
					tag="Project"
					description="">
						<h1 class="font-type">
							香港优才及专才协会第三届理监事就职典礼
                            <br />暨首届香港国际人才高峰论坛坛
						</h1>
				</PostHeader>
				<div class="content">
					<div class="row desc">
						<div class="col-1a">
		
							<p class="post-desc">
								香港国际人才高峰论坛
								<br />项目背景：香港优才及专才协会第三届理监事就职典礼暨首届香港国际人才高峰论坛。
                                <br />项目内容：活动现场设计和相关物料设计,效果图展示;包括活动kv、活动拍照打卡墙设计、邀请函、聘书证书、口罩、丝巾等物料
								<br />版权归委托方所有
							</p>
						</div>
					</div>
				</div>
			</section>
			<section class="preview">
				{images.map((img, index) => (
					<picture class="picture">
					  <Image src={img.default} alt={`Image ${index + 1}`}   loading="lazy" decoding="async" />
					</picture>
				  ))}
			</section>
		</main>
	</div>
</DetailPostLayout>

<style>
.icon{
	color:var(--color-900);
}
</style>

<script>
	var images = document.getElementsByTagName('img');
 	for (var i = 0; i < images.length; i++) {
	// 为每个 img 标签添加 draggable="false" 属性
	images[i].setAttribute('draggable', 'false');
	images[i].setAttribute('ref', 'nofollow');
  }
</script>
