---
import { Image } from "astro:assets";
import DetailPostLayout from "../../layouts/DetailPostLayout.astro";
import PostHeader from "../../components/PostHeader.astro";
// 导入 Image 组件和图像
const images = await Astro.glob('../../assets/projects/hwbanner/*.{jpg,png,webp}');
---
<DetailPostLayout
	title="华为云系列网络研讨会视觉设计"
	description = '华为云周四系列网络研讨会视觉设计',
	keywords = 'banner设计,视觉设计,华为云,网络研讨会，运营活动设计',
>
	<div class="post">
		<main class="post-wrapper">
				<PostHeader
					tag="Project"
					description="">
						<h1 class="font-type">
							华为云周四系列网络研讨会视觉设计
						</h1>
				</PostHeader>
				<div class="content">
					<div class="row desc">
						<div class="col-1a">
		
							<p class="post-desc">
								项目背景：每周四华为香港都会举办华为云周四系列网络研讨会,需负责每场活动的平面设计工作。
								<br />项目内容：海外运营设计,负责活动直播的海报banner、EDM设计及推广延展物料设计。
								<br />版权归委托方所有©香港华为国际公司
							</p>
						</div>
					</div>
				</div>
			</section>
			<section class="preview">
				{images.map((img, index) => (
					<picture class="picture">
					  <Image src={img.default} alt={`Image ${index + 1}`}   loading="lazy" decoding="async" />
					</picture>
				  ))}
			</section>
		</main>
	</div>
</DetailPostLayout>

<style>
.icon{
	color:var(--color-900);
}
</style>

<script>
	var images = document.getElementsByTagName('img');
 	for (var i = 0; i < images.length; i++) {
	// 为每个 img 标签添加 draggable="false" 属性
	images[i].setAttribute('draggable', 'false');
	images[i].setAttribute('ref', 'nofollow');
  }
</script>
