---
import { Image } from "astro:assets";
import DetailPostLayout from "../../layouts/DetailPostLayout.astro";
import PostHeader from "../../components/PostHeader.astro";
// 导入 Image 组件和图像
const images = await Astro.glob('../../assets/projects/mcloud/*.{jpg,png,webp}');
---
<DetailPostLayout
	title="中国移动国际有限公司mCloud狂欢节"
	description = '中国移动国际有限公司mCloud狂欢节。',
	keywords = '网页设计,品牌设计,中国移动国际,企业营销活动,活动运营',
>
	<div class="post">
		<main class="post-wrapper">
				<PostHeader
					tag="Project"
					description="">
						<h1 class="font-type">
							中国移动国际有限公司mCloud狂欢节
						</h1>
				</PostHeader>
				<div class="content">
					<div class="row desc">
						<div class="col-1a">
		
							<p class="post-desc">
								项目背景：中国移动国际有限公司mCloud狂欢节
								<br />项目内容：中移动针对海外市场将mCloud产品与Google进行联合营销活动，设计并制作了一系列线上宣传页面和活动页面，以进行产品促销。
								<br />版权归委托方所有©中国移动国际有限公司
							</p>
						</div>
					</div>
				</div>
			</section>
			<section class="preview">
				{images.map((img, index) => (
					<picture class="picture">
					  <Image src={img.default} alt={`Image ${index + 1}`}   loading="lazy" decoding="async" />
					</picture>
				  ))}
			</section>
		</main>
	</div>
</DetailPostLayout>

<style>
.icon{
	color:var(--color-900);
}
</style>

<script>
	var images = document.getElementsByTagName('img');
 	for (var i = 0; i < images.length; i++) {
	// 为每个 img 标签添加 draggable="false" 属性
	images[i].setAttribute('draggable', 'false');
	images[i].setAttribute('ref', 'nofollow');
  }
</script>
