---
import { Image } from "astro:assets";
import DetailHeader from "../../components/DetailHeader.astro";
import DetailPostLayout from "../../layouts/DetailPostLayout.astro";
import CallToAction from "../../components/CallToAction.astro";

//输入文件夹地址，会按文件名自动加载全部，并压缩为webp格式
const images = await Astro.glob('../../assets/projects/todo/*.{jpg,png,webp}');

---
<DetailPostLayout
	title="在线 Todo List | 606 灵感设计 | Rico "
	description = '极简设计 TodoList 网页版本应用,无需注册,数据存储在H5浏览器本地缓存,提供工作和生活辅助！！',
	keywords = '在线Todo,网页todo,备忘录, ,无需注册登陆,即开即用,便签, 提醒, 日程, 记事本, 记事, 待办事件,online todolist, 606设计',
>
	<div class="post">
		<main class="post-wrapper">
			<DetailHeader
			tag="WEBSITE"
			description="">
					<h1 class="font-type">
						Todo List Online
					</h1>
			</DetailHeader>

			<section>
				<div class="content">
					<div class="row desc">
						<div class="col-1a">
							<h3 class="post-title">Todo 1.0 - Figma & Vue 2.x</h3>
							<p class="post-desc">
								一款优秀的设计简洁的 Todolist 网页版本应用，无需注册，数据存储在浏览器本地缓存。技术基于Vue2.x，提供工作和生活辅助！
							</p>
						</div>
						<div class="col-1a">
							<p>
								<div class="btn">
									<CallToAction href="https://todo.uiineed.com/" target="_blank">
										访问站点
									</CallToAction>
									<CallToAction href="https://github.com/ricocc/uiineed-todo-list" target="_blank">
										Github
									</CallToAction>
								</div>
							</p>
						</div>
					</div>
				</div>
			</section>
			<section class="preview">
				{images.map((img, index) => (
					<picture class="gsap-picture">
					  <Image src={img.default} alt={`Image ${index + 1}`}   loading="lazy" decoding="async" />
					</picture>
				  ))}
			</section>
		</main>
	</div>
</DetailPostLayout>

<style>
img{
	border:1px solid #ececec;
}
.btn{
	display: flex;
	gap: 16px;
}
</style>
