---
import { Image } from "astro:assets";
import DetailPostLayout from "../../layouts/DetailPostLayout.astro";
import PostHeader from "../../components/PostHeader.astro";
// 导入 Image 组件和图像
const images = await Astro.glob('../../assets/projects/webank/*.{jpg,png,webp}');
---
<DetailPostLayout
	title="Webank微众银行海外推广海报"
	description = 'Webank微众银行海外推广海报。',
	keywords = '海报设计,品牌设计,Webank微众银行,海外推广',
>
	<div class="post">
		<main class="post-wrapper">
				<PostHeader
					tag="Project"
					description="">
						<h1 class="font-type">
							Webank微众银行海外推广海报
						</h1>
				</PostHeader>
				<div class="content">
					<div class="row desc">
						<div class="col-1a">
		
							<p class="post-desc">
								项目背景：Webank微众银行海外推广海报
								<br />项目内容：微众银行海外社交平台推广,每周贴文推广,配合每次推广内容制作相关海报配图。
								<br />版权归委托方所有©微众银行香港有限公司
							</p>
						</div>
					</div>
				</div>
			</section>
			<section class="preview">
				{images.map((img, index) => (
					<picture class="picture">
					  <Image src={img.default} alt={`Image ${index + 1}`}   loading="lazy" decoding="async" />
					</picture>
				  ))}
			</section>
		</main>
	</div>
</DetailPostLayout>

<style>
.icon{
	color:var(--color-900);
}
</style>

<script>
	var images = document.getElementsByTagName('img');
 	for (var i = 0; i < images.length; i++) {
	// 为每个 img 标签添加 draggable="false" 属性
	images[i].setAttribute('draggable', 'false');
	images[i].setAttribute('ref', 'nofollow');
  }
</script>
